/*Variables*/
:root {
    /*Stat Variables*/
    --loc-python: 350px;
    --loc-java: 73.5px;
    --loc-javascript: 42px;
    --loc-html: 20px;
    --loc-css: 31.5px;
    --projects-python: 350px;
    --projects-java: 140px;
    --projects-javascript: 70px;
    --projects-html: 70px;
    --projects-css: 70px;
    /*Colors*/
    --div-light-grey: #8e8e8e;
    --div-dark-grey: #545454;
    --div-light-green: #48aa69;
    --python-blue: #0000e6;
    --java-red: #cc0000;
    --javascript-yellow: #ffff00;
    --html-orange: #e65c00;
    --css-purple: #660066;
    /*Other*/
    --section-width: 800px;
}
/* Global Elements */
body {
    background: #c8c8c8;
}
h1 {
    font-size: 50px;
    
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
	padding-left: 0px;
    padding-right: 0px;
}
h2 {
    font-size: 40px;
    
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
	padding-left: 0px;
    padding-right: 0px;
}
h3 {
    font-size: 22px;
    
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}


/* Classes */
.project-box-left {
    background-color: var(--div-light-green);
    
    height: 400px;
    width: 360px;
    
    float: left;
    
    margin-top: 17px; 
	margin-bottom: 17px;
    margin-left: 24px;
    margin-right: 16px;
    
    text-align: center;
}
.project-box-right {
    background-color: var(--div-light-green);
    
    height: 400px;
    width: 360px;
    
    float: right;
    
    margin-top: 17px; 
	margin-bottom: 17px;
    margin-left: 16px;
    margin-right: 24px;
    
    text-align: center;
}
.project-description {
    font-size: 18px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.project-image {
    height: 165px;
    width: 300px;
    
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.planned-box-left {
    background-color: var(--div-light-green);
    
    height: 200px;
    width: 360px;
    
    float: left;
    
    margin-top: 17px; 
	margin-bottom: 17px;
    margin-left: 24px;
    margin-right: 16px;
    
    text-align: center;
}
.planned-box-right {
    background-color: var(--div-light-green);
    
    height: 200px;
    width: 360px;
    
    float: right;
    
    margin-top: 17px; 
	margin-bottom: 17px;
    margin-left: 16px;
    margin-right: 24px;
    
    text-align: center;
}

.label-java {
    background-color: var(--java-red);
    
    height: 30px;
    width: 100px;
    
    float: left;
    
    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 70px;
    margin-right: 10px;
    
    text-align: center;
}
.label-python {
    background-color: var(--python-blue);
    
    height: 30px;
    width: 100px;
    
    float: left;

    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 70px;
    margin-right: 10px;
    
    text-align: center;
}
.label-javascript {
    background-color: var(--javascript-yellow);
    
    height: 30px;
    width: 100px;
    
    float: left;

    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 70px;
    margin-right: 10px;
    
    text-align: center;
}
.label-images {
    background-color: #fe2c54;
    
    height: 30px;
    width: 100px;
    
    float: right;

    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 70px;
    
    text-align: center;
}
.label-kow-series {
    background-color: #b5b5b5;
    
    height: 30px;
    width: 100px;
    
    float: right;

    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 70px;
    
    text-align: center;
}
.label-discord {
    background-color: #800080;
    
    height: 30px;
    width: 100px;
    
    float: right;

    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 70px;
    
    text-align: center;
}
.label-text {
    font-size: 18px;
    
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.discord-bot-box-left {
    background-color: var(--div-light-green);
    
    height: 250px;
    width: 360px;
    
    float: left;
    
    margin-top: 17px;
	margin-bottom: 17px;
    margin-left: 24px;
    margin-right: 16px;
    
    text-align: center;
}
.discord-bot-box-right {
    background-color: var(--div-light-green);
    
    height: 250px;
    width: 360px;
    
    float: right;
    
    margin-top: 17px;
	margin-bottom: 17px;
    margin-left: 16px;
    margin-right: 24px;
    
    text-align: center;
}
.discord-bot-image {
    height: 95px;
    width: 95px;
    
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 95px;
    border: 5px solid #712e62;
}

.section-description {
    font-size: 20px;
    
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.stat-box-description {
    font-size: 15px;

    margin: 5px;
}

.graph-box {
    background-color: #bfbfbf;

    height: 300px;
    width: 350px;

    display: inline-block;

    margin: 15px;
}
.graph-box-total {
    font-size: 18px;

    margin: 0px;
}
.bar-name {
    font-size: 20px;

    margin: 0px;
    padding: 10px;
}

/* IDs */
#title-section {
    background-size: cover;
    background-color: var(--div-dark-grey);
    
    height: 250px;
    width: var(--section-width);

    margin: 0 auto;
    margin-top: 80px;
	margin-bottom: 40px;
    
    
    text-align: center;
}

#first-section {
    background-color: var(--div-light-grey);
    
    height: 500px;
    width: var(--section-width);
    
    margin: 0 auto;
	margin-bottom: 40px;
    
    text-align: center;
}
#projects-footer {
    font-size: 18px;
    
    margin: 50px;
}

#second-section {
    background-color: var(--div-light-grey);
    
    height: 1025px;
    width: var(--section-width);
    
    margin: 0 auto;
	margin-bottom: 40px;
    
    text-align: center;
}
#project-image-tdim {
    height: 170px;
    width: 240px;
	
    margin: 0px;
    margin-top: 20px;
}

#third-section {
    background-color: var(--div-light-grey);
    
    height: 350px;
    width: var(--section-width);
    
    margin: 0 auto; 
    margin-bottom: 40px;
    
    text-align: center;
}

#fourth-section {
    background-color: var(--div-light-grey);
    
    height: 300px;
    width: var(--section-width);
    
    margin: 0 auto;
	margin-bottom: 40px;
    
    text-align: center;
}

#fifth-section {
    background-color: var(--div-light-grey);
    
    height: 1000px;
    width: var(--section-width);
    
    margin: 0 auto;
	margin-bottom: 40px;
    
    text-align: center;
}
#stat-box-python {
    background-color: var(--python-blue);

    height: 64px;
    width: 128px;

    display: inline-block;

    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 10px;
}
#stat-box-java {
    background-color: var(--java-red);

    height: 64px;
    width: 128px;

    display: inline-block;

    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
#stat-box-javascript {
    background-color: var(--javascript-yellow);

    height: 64px;
    width: 128px;

    display: inline-block;

    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
#stat-box-html {
    background-color: var(--html-orange);

    height: 64px;
    width: 128px;

    display: inline-block;

    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
#stat-box-css {
    background-color: var(--css-purple);

    height: 64px;
    width: 128px;

    display: inline-block;

    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0px;
}
#loc-bar-python {
    background-color: var(--python-blue);

    height: 50px;
    width: var(--loc-python);

    margin: 0px;
}
#loc-bar-java {
    background-color: var(--java-red);

    height: 50px;
    width: var(--loc-java);

    margin: 0px;
}
#loc-bar-javascript {
    background-color: var(--javascript-yellow);

    height: 50px;
    width: var(--loc-javascript);

    margin: 0px;
}
#loc-bar-html {
    background-color: var(--html-orange);

    height: 50px;
    width: var(--loc-html);

    margin: 0px;
}
#loc-bar-css {
    background-color: var(--css-purple);

    height: 50px;
    width: var(--loc-css);

    margin: 0px;
}#projects-bar-python {
    background-color: var(--python-blue);

    height: 50px;
    width: var(--projects-python);

    margin: 0px;
}
#projects-bar-java {
    background-color: var(--java-red);

    height: 50px;
    width: var(--projects-java);

    margin: 0px;
}
#projects-bar-javascript {
    background-color: var(--javascript-yellow);

    height: 50px;
    width: var(--projects-javascript);

    margin: 0px;
}
#projects-bar-html {
    background-color: var(--html-orange);

    height: 50px;
    width: var(--projects-html);

    margin: 0px;
}
#projects-bar-css {
    background-color: var(--css-purple);

    height: 50px;
    width: var(--projects-css);

    margin: 0px;
}

#sixth-section {
    background-color: var(--div-dark-grey);
    
    height: 220px;
    width: var(--section-width);
    
    margin: 0 auto;
	margin-bottom: 40px;
    
    text-align: center;
}

#label-worst-cover {
    background-color: #800000;
    
    height: 30px;
    width: 100px;
    
    float: right;
    
    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 70px;
    text-align: center;
}
#label-most-recent {
    background-color: #f200ff;
    
    height: 30px;
    width: 100px;
    
    float: right;
    
    margin-top: 6px; 
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 70px;
    
    text-align: center;
}
